"$schema" = 'https://starship.rs/config-schema.json'

palette = "catppuccin_mocha"
command_timeout = 1500
add_newline = true

format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$cmd_duration\
$line_break\
$python\
$character\
"""

[os]
disabled = true
style = "bg:red fg:crust"
format = "[ $symbol ]($style)"

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
AOSC = " "
Arch = " "
Artix = " "
CachyOS = " "
CentOS = " "
Debian = " "
DragonFly = " "
Elementary = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Ios = "󰀷 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
Nobara = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "
Zorin = " "

# [username]
# show_always = true
# style_user = "bg:red fg:crust"
# style_root = "bg:red fg:crust"
# format = '[ $user ]($style)'

[directory]
style = "lavender"
format = "[$path]($style)[$read_only]($read_only_style) "
read_only = " 󰌾"
read_only_style = "subtext1"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
Documents = "󰈙 "
Downloads = " "
Music = "󰝚 "
Pictures = " "
Developer = "󰲋 "

# [kubernetes]
# disabled = false
# symbol = "󱃾 "
# style = "bg:teal fg:crust"
# format = '[ $symbol$context ]($style)'
#
# [[kubernetes.contexts]]
# context_pattern = ".*aicc-prod-ec1-shared-eks-0"
# context_alias = "prod"
#
# [[kubernetes.contexts]]
# context_pattern = ".*aicc-cndtag-dev"
# context_alias = "dev"
#
# [[kubernetes.contexts]]
# context_pattern = ".*aicc-playground"
# context_alias = "play"
#
# [[kubernetes.contexts]]
# context_pattern = "arn:aws:eks:.*:.*:cluster/(?P<cluster>[\\w-]+)"
# context_alias = "$cluster"

[git_branch]
format = "[$branch]($style) "
style = "overlay1"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "overlay1"

[git_status]
format = "[$all_status$ahead_behind]($style) "
style = "overlay2"
conflicted = ":${count} "
ahead = "⇡:${count} "
behind = "⇣:${count} "
diverged = "⇕:${ahead_count}/${behind_count} "
deleted = "✘:${count} "
modified = ":${count} "
stashed = ":${count} "
staged = ":${count} "
renamed = ":${count} "
untracked = ":${count} "

# [aws]
# symbol = " "
# style = "bg:teal fg:crust"
# format = '[ $symbol$profile ]($style)'

[buf]
symbol = " "

[bun]
symbol = " "

[c]
symbol = " "
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'

[cpp]
symbol = " "

[cmake]
symbol = " "

[conda]
symbol = " "
style = "fg:crust bg:sapphire"
format = '[ $symbol$environment ]($style)'
ignore_base = false

[crystal]
symbol = " "

[dart]
symbol = " "

[deno]
symbol = " "

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fortran]
symbol = " "

[fossil_branch]
symbol = " "

[gcloud]
symbol = " "

[git_commit]
tag_symbol = "  "

[golang]
symbol = " "
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'

[gradle]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
ssh_symbol = " "

[java]
symbol = " "
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'

[julia]
symbol = " "

[kotlin]
symbol = " "
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'

[ocaml]
symbol = " "

[package]
symbol = "󰏗 "

[perl]
symbol = " "

[php]
symbol = " "
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'

[pijul_channel]
symbol = " "

[pixi]
symbol = "󰏗 "

[python]
symbol = " "
format = "[$virtualenv]($style) "
style = "overlay1"
detect_extensions = []
detect_files = []

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = "󱘗 "
style = "bg:green"
format = '[[ $symbol( $version) ](fg:crust bg:green)]($style)'

[scala]
symbol = " "

[status]
symbol = " "

[swift]
symbol = " "

[time]
disabled = true
time_format = "%R"
style = "bg:lavender"
format = '[[  $time ](fg:crust bg:lavender)]($style)'

[xmake]
symbol = " "

[zig]
symbol = " "

[line_break]
disabled = false

[character]
disabled = false
success_symbol = '[❯](subtext1)'
error_symbol = '[❯](red)'
vimcmd_symbol = '[❮](subtext1)'
vimcmd_replace_one_symbol = '[❮](subtext1)'
vimcmd_replace_symbol = '[❮](subtext1)'
vimcmd_visual_symbol = '[❮](subtext1)'

[cmd_duration]
show_milliseconds = true
format = "[$duration]($style) "
style = "subtext0"
disabled = false
show_notifications = true
min_time_to_notify = 45000

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
