notARepository: skip
git:
  log:
    showGraph: always
  diffRenderers:
    - colorArg: always
      command: delta --dark --paging=never
gui:
  showBottomLine: false
  showIcons: true
  showFileIcons: true
  nerdFontsVersion: "3"
{{ include "theme-fragments/lazygit/nocturne-rose.yml" | trimSuffix "\n" }}
  showCommandLog: false
