# Managed by Ansible: terminal_comfort

typeset -a _atlas_widget_bind_maps
_atlas_widget_bind_maps=(emacs viins vicmd main)

insert-literal-newline() {
  LBUFFER+=$'\n'
}
zle -N insert-literal-newline
for _map in "${_atlas_widget_bind_maps[@]}"; do
  bindkey -M "$_map" '^J' insert-literal-newline
done

if command -v navi &>/dev/null; then
  navi_widget() {
    local result
    result="$(navi --print)"
    [[ -n "$result" ]] && LBUFFER="$result"
    zle reset-prompt
  }
  zle -N navi_widget
  for _map in "${_atlas_widget_bind_maps[@]}"; do
    bindkey -M "$_map" '^G' navi_widget
  done
fi

zle -N ftext-widget
for _map in "${_atlas_widget_bind_maps[@]}"; do
  bindkey -M "$_map" '^F' ftext-widget
done

fzf-directory-widget() {
  (( $+widgets[fzf-file-widget] )) || return 0

  local dir_command="${FZF_CTRL_SHIFT_T_COMMAND:-${FZF_CTRL_T_COMMAND:-}}"
  local dir_opts="${FZF_CTRL_SHIFT_T_OPTS:-${FZF_CTRL_T_OPTS:-}}"
  local FZF_CTRL_T_COMMAND="$dir_command"
  local FZF_CTRL_T_OPTS="$dir_opts"

  zle fzf-file-widget
}
zle -N fzf-directory-widget
for _map in "${_atlas_widget_bind_maps[@]}"; do
  bindkey -M "$_map" '^[[202~' fzf-directory-widget
done

run_zoxide_interactive() {
  BUFFER="cdi"
  zle accept-line
}
zle -N run_zoxide_interactive
for _map in "${_atlas_widget_bind_maps[@]}"; do
  bindkey -M "$_map" '^Z' run_zoxide_interactive
done

(( KEYTIMEOUT < 80 )) && KEYTIMEOUT=80

typeset -a _word_fwd_keys _word_back_keys _line_home_keys _line_end_keys
_word_fwd_keys=('^[f' '^[[1;3C' '^[[1;5C' '^[[1;9C' '^[[5C')
_word_back_keys=('^[b' '^[[1;3D' '^[[1;5D' '^[[1;9D' '^[[5D')
_line_home_keys=('^[[1~' '^[[H' '^[OH')
_line_end_keys=('^[[4~' '^[[F' '^[OF')

for _seq in "${_word_fwd_keys[@]}"; do
  bindkey -M emacs "$_seq" emacs-forward-word
  bindkey -M viins "$_seq" emacs-forward-word
done
for _seq in "${_word_back_keys[@]}"; do
  bindkey -M emacs "$_seq" emacs-backward-word
  bindkey -M viins "$_seq" emacs-backward-word
done
for _seq in "${_word_fwd_keys[@]}"; do
  bindkey -M vicmd "$_seq" vi-forward-word-end
done
for _seq in "${_word_back_keys[@]}"; do
  bindkey -M vicmd "$_seq" vi-backward-word
done

for _seq in "${_line_home_keys[@]}"; do
  bindkey -M emacs "$_seq" beginning-of-line
  bindkey -M viins "$_seq" beginning-of-line
  bindkey -M vicmd "$_seq" vi-beginning-of-line
done
for _seq in "${_line_end_keys[@]}"; do
  bindkey -M emacs "$_seq" end-of-line
  bindkey -M viins "$_seq" end-of-line
  bindkey -M vicmd "$_seq" vi-end-of-line
done

unset _seq _map _word_fwd_keys _word_back_keys _line_home_keys _line_end_keys _atlas_widget_bind_maps
bindkey -e
