{{- if or (eq .profile "dt-work") (eq .profile "work") }}
Host gitlab.devops.telekom.de
    HostName gitlab.devops.telekom.de
    User git
    IdentityFile ~/.ssh/gitlab-telekom
    IdentitiesOnly yes
{{- end }}

Host github.com github-personal
    HostName github.com
    User git
    IdentityFile ~/.ssh/github-personal
    IdentitiesOnly yes

# Default key
Host *
    AddKeysToAgent yes

Include /Users/mbastakis/.colima/ssh_config
Include /Users/mbastakis/.config/colima/ssh_config
