{{- if or (eq .profile "dt-work") (eq .profile "work") }}
Host otc_n8n
    HostName 80.158.109.121
    User ubuntu
    IdentityFile ~/.ssh/n8n-keypair.pem

Host gitlab.devops.telekom.de
    HostName 10.14.252.252
    HostKeyAlias gitlab.devops.telekom.de
    User git
    IdentityFile ~/.ssh/gitlab-telekom
    IdentitiesOnly yes
{{- end }}

Host github.com github-personal
    HostName github.com
    User git
    IdentityFile ~/.ssh/github-personal
    IdentitiesOnly yes

# Default key
Host *
    AddKeysToAgent yes

Include {{ .chezmoi.homeDir }}/.local/share/colima/ssh_config
