<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mbastakis.ghostty-tmux</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/open</string>
        <string>-na</string>
        <string>Ghostty</string>
        <string>--args</string>
        <string>-e</string>
        <string>/opt/homebrew/bin/tmux</string>
        <string>new-session</string>
        <string>-A</string>
        <string>-s</string>
        <string>main</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>LimitLoadToSessionType</key>
    <array>
        <string>Aqua</string>
    </array>
</dict>
</plist>
