[user]
    email = {{ .email }}
    name = {{ .name }}

[includeIf "hasconfig:remote.*.url:ssh://git@gitlab.devops.telekom.de/**"]
    path = ~/.config/git/.gitconfig-work
[includeIf "hasconfig:remote.*.url:git@gitlab.devops.telekom.de:*/**"]
    path = ~/.config/git/.gitconfig-work
[includeIf "hasconfig:remote.*.url:https://gitlab.devops.telekom.de/**"]
    path = ~/.config/git/.gitconfig-work
[includeIf "hasconfig:remote.*.url:https://*@gitlab.devops.telekom.de/**"]
    path = ~/.config/git/.gitconfig-work

[include]
    path = ~/.config/delta/themes/catppuccin.gitconfig

[core]
    pager = delta
    editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    features = catppuccin-mocha
    navigate = true
    dark = true

[color]
    ui = true

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[color "diff"]
    meta = 11
    frag = magenta bold
    func = 146 bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse

[init]
    defaultBranch = master

[diff]
    tool = nvim

[merge]
    tool = nvim
    conflictstyle = zdiff3
