/* Centre bookmark items in the bookmarks bar */
.bookmark-bar .observer {
    justify-content: center;
}

.bookmark-bar .observer > button {
  margin: 0 6px;
}

.bookmark-bar .observer .favicon {
  width: 16px;
  height: 16px;
}