UPLOAD_LOCATION={{ atlas_immich_media_mount }}
DB_DATA_LOCATION={{ atlas_immich_runtime_root }}/postgres
IMMICH_VERSION={{ atlas_immich_version }}
IMMICH_CONFIG_FILE={{ atlas_immich_config_container_path }}
DB_PASSWORD={{ lookup('env', 'IMMICH_DB_PASSWORD') }}
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
DB_STORAGE_TYPE=HDD
REDIS_HOSTNAME=immich-valkey
TZ={{ atlas_immich_timezone }}
