[defaults]
inventory = inventories/home/hosts.yml
roles_path = roles
collections_path = .collections
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True

[ssh_connection]
pipelining = False
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
