{{- $theme := index .theme.catalog .theme.active -}}
{{- $p := $theme.palette -}}
k9s:
  body:
    fgColor: {{ $p.text | quote }}
    bgColor: default
    logoColor: {{ $p.orchid | quote }}
  prompt:
    fgColor: {{ $p.text | quote }}
    bgColor: default
    suggestColor: {{ $p.rose | quote }}
  help:
    fgColor: {{ $p.text | quote }}
    bgColor: default
    sectionColor: {{ $p.green | quote }}
    keyColor: {{ $p.blue | quote }}
    numKeyColor: {{ $p.red | quote }}
  frame:
    title:
      fgColor: {{ $p.aqua | quote }}
      bgColor: default
      highlightColor: {{ $p.rose | quote }}
      counterColor: {{ $p.yellow | quote }}
      filterColor: {{ $p.green | quote }}
    border:
      fgColor: {{ $p.orchid | quote }}
      focusColor: {{ $p.rose | quote }}
    menu:
      fgColor: {{ $p.text | quote }}
      keyColor: {{ $p.blue | quote }}
      numKeyColor: {{ $p.red | quote }}
    crumbs:
      fgColor: {{ $p.base | quote }}
      bgColor: default
      activeColor: {{ $p.rose | quote }}
    status:
      newColor: {{ $p.blue | quote }}
      modifyColor: {{ $p.orchid | quote }}
      addColor: {{ $p.green | quote }}
      pendingColor: {{ $p.yellow | quote }}
      errorColor: {{ $p.red | quote }}
      highlightColor: {{ $p.aqua | quote }}
      killColor: {{ $p.orchid | quote }}
      completedColor: {{ $p.disabled | quote }}
  info:
    fgColor: {{ $p.yellow | quote }}
    sectionColor: {{ $p.text | quote }}
  views:
    table:
      fgColor: {{ $p.text | quote }}
      bgColor: default
      cursorFgColor: {{ $p.base | quote }}
      cursorBgColor: {{ $p.rose | quote }}
      markColor: {{ $p.subtext | quote }}
      header:
        fgColor: {{ $p.yellow | quote }}
        bgColor: default
        sorterColor: {{ $p.aqua | quote }}
    xray:
      fgColor: {{ $p.text | quote }}
      bgColor: default
      cursorColor: {{ $p.overlay_high | quote }}
      cursorTextColor: {{ $p.base | quote }}
      graphicColor: {{ $p.rose | quote }}
    charts:
      bgColor: default
      chartBgColor: default
      dialBgColor: default
      defaultDialColors:
        - {{ $p.green | quote }}
        - {{ $p.red | quote }}
      defaultChartColors:
        - {{ $p.green | quote }}
        - {{ $p.red | quote }}
      resourceColors:
        cpu:
          - {{ $p.orchid | quote }}
          - {{ $p.blue | quote }}
        mem:
          - {{ $p.yellow | quote }}
          - {{ $p.yellow | quote }}
    yaml:
      keyColor: {{ $p.blue | quote }}
      valueColor: {{ $p.text | quote }}
      colonColor: {{ $p.muted | quote }}
    logs:
      fgColor: {{ $p.text | quote }}
      bgColor: default
      indicator:
        fgColor: {{ $p.orchid | quote }}
        bgColor: default
        toggleOnColor: {{ $p.green | quote }}
        toggleOffColor: {{ $p.muted | quote }}
  dialog:
    fgColor: {{ $p.yellow | quote }}
    bgColor: default
    buttonFgColor: {{ $p.base | quote }}
    buttonBgColor: default
    buttonFocusFgColor: {{ $p.base | quote }}
    buttonFocusBgColor: {{ $p.rose | quote }}
    labelFgColor: {{ $p.subtext | quote }}
    fieldFgColor: {{ $p.text | quote }}
