git:
  log:
    showGraph: always
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never
os:
  # Command for editing a file. Should contain "{{filename}}".
  edit: "code --user-data-dir ~/.vscode {{filename}}"
gui:
  showBottomLine: false
  theme:
    activeBorderColor:
      - "#f2cdcd"
      - bold
    inactiveBorderColor:
      - "#a6adc8"
    optionsTextColor:
      - "#89b4fa"
    selectedLineBgColor:
      - "#313244"
    cherryPickedCommitBgColor:
      - "#45475a"
    cherryPickedCommitFgColor:
      - "#f2cdcd"
    unstagedChangesColor:
      - "#f38ba8"
    defaultFgColor:
      - "#cdd6f4"
    searchingActiveBorderColor:
      - "#f9e2af"
  authorColors:
    "*": "#b4befe"
  showCommandLog: false
