PG_PASS={{ lookup('env', 'PG_PASS') }}
POSTGRES_DB=authentik
POSTGRES_USER=authentik
POSTGRES_PASSWORD={{ lookup('env', 'PG_PASS') }}
AUTHENTIK_SECRET_KEY={{ lookup('env', 'AUTHENTIK_SECRET_KEY') }}
AUTHENTIK_REDIS__HOST=redis
AUTHENTIK_POSTGRESQL__HOST=postgres
AUTHENTIK_POSTGRESQL__USER=authentik
AUTHENTIK_POSTGRESQL__NAME=authentik
AUTHENTIK_POSTGRESQL__PASSWORD={{ lookup('env', 'PG_PASS') }}
AUTHENTIK_BOOTSTRAP_PASSWORD={{ lookup('env', 'AUTHENTIK_BOOTSTRAP_PASSWORD') }}
AUTHENTIK_BOOTSTRAP_TOKEN={{ lookup('env', 'AUTHENTIK_BOOTSTRAP_TOKEN') }}
AUTHENTIK_BOOTSTRAP_EMAIL={{ atlas_homeserver_acme_email }}
