---
- External:
    - AWS SSO:
        - icon: "si-amazonwebservices-#ff9900"
          href: {{ atlas_homeserver_aws_sso_url }}
          description: IAM Identity Center

    - GitHub:
        - icon: mdi-github
          href: https://github.com/mbastakis
          description: Profile and repositories
