HOMEPAGE_VAR_TRUENAS_API_KEY={{ lookup('env', 'HOMEPAGE_VAR_TRUENAS_API_KEY') }}
HOMEPAGE_VAR_TAILSCALE_API_KEY={{ lookup('env', 'HOMEPAGE_VAR_TAILSCALE_API_KEY') }}
HOMEPAGE_VAR_BACKREST_PASSWORD={{ lookup('env', 'HOMEPAGE_VAR_BACKREST_PASSWORD') }}
