---
name: homeserver

networks:
  homeserver:
    external: true
    name: homeserver

services:
  pihole:
    image: {{ atlas_homeserver_pihole_image }}
    restart: unless-stopped
    environment:
      TZ: {{ atlas_homeserver_timezone }}
      FTLCONF_dns_upstreams: "1.1.1.1;1.0.0.1"
      FTLCONF_dns_listeningMode: ALL
      FTLCONF_dns_dnssec: "true"
      FTLCONF_dns_rateLimit_count: "{{ atlas_homeserver_pihole_rate_limit_count }}"
      FTLCONF_dns_rateLimit_interval: "60"
      FTLCONF_database_maxDBdays: "{{ atlas_homeserver_pihole_history_days }}"
      FTLCONF_webserver_api_password: ""
      FTLCONF_webserver_port: "{{ atlas_homeserver_pihole_web_port }}"
      FTLCONF_dhcp_active: "false"
      FTLCONF_ntp_ipv4_active: "false"
      FTLCONF_ntp_ipv6_active: "false"
      FTLCONF_ntp_sync_active: "false"
    ports:
      - "{{ atlas_lan_ipv4 }}:53:53/tcp"
      - "{{ atlas_lan_ipv4 }}:53:53/udp"
    volumes:
      - {{ atlas_homeserver_root }}/pihole/etc-pihole:/etc/pihole
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - NET_RAW
    networks:
      - homeserver
