TASK_SYNC_SERVER_URL={{ atlas_homeserver_taskboard_sync_url }}
TASK_SYNC_CLIENT_ID={{ atlas_homeserver_taskboard_sync_client_id }}
TASK_SYNC_ENCRYPTION_SECRET={{ lookup('env', 'TASK_SYNC_ENCRYPTION_SECRET') }}
TASKBOARD_ALLOW_NO_AUTH=1
TASKBOARD_PORT={{ atlas_homeserver_taskboard_port }}
TASKBOARD_DONE_DAYS={{ atlas_homeserver_taskboard_done_days }}
